* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v160_1527 {
  width: 100%;
  height: 1567px;
  background: rgba(253,245,230,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_1528 {
  width: 174px;
  height: 80px;
  background: url("../images/v160_1528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 80px;
  overflow: hidden;
}
.v160_1529 {
  width: 80px;
  height: 80px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v160_1530 {
  width: 152px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 5px;
  left: 22px;
  font-family: Sacramento;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v160_1531 {
  width: 114px;
  height: 85px;
  background: rgba(185,219,203,1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 858px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v160_1532 {
  width: 285px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 228px;
  left: 988px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1533 {
  width: 372px;
  height: 70px;
  background: rgba(18,102,86,1);
  opacity: 1;
  position: absolute;
  top: 1176px;
  left: 80px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v160_1534 {
  width: 228px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1197px;
  left: 152px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v160_1535 {
  width: 100%;
  height: 171px;
  background: url("../images/v160_1535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1396px;
  left: 0px;
  overflow: hidden;
}
.v160_1536 {
  width: 100%;
  height: 171px;
  background: rgba(185,219,203,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v160_1537 {
  width: 581px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 70px;
  left: 429px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v160_1538 {
  width: 113px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 438px;
  left: 101px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1539 {
  width: 108px;
  color: rgba(184,120,67,1);
  position: absolute;
  top: 438px;
  left: 627px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1540 {
  width: 244px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 438px;
  left: 224px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1541 {
  width: 145px;
  color: rgba(184,120,67,1);
  position: absolute;
  top: 333px;
  left: 210px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1542 {
  width: 102px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 340px;
  left: 858px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1543 {
  width: 59px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 340px;
  left: 1246px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1544 {
  width: 59px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 488px;
  left: 1246px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1580 {
  width: 59px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 658px;
  left: 676px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1546 {
  width: 54px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 399px;
  left: 1246px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1547 {
  width: 110px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 399px;
  left: 858px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1548 {
  width: 59px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 488px;
  left: 858px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1549 {
  width: 202px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 333px;
  left: 375px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1550 {
  width: 111px;
  color: rgba(184,120,67,1);
  position: absolute;
  top: 333px;
  left: 597px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1551 {
  width: 541px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 215px;
  left: 191px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 56px;
  opacity: 1;
  text-align: center;
}
.v160_1552 {
  width: 185px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 762px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v160_1554 {
  width: 30px;
  height: 30px;
  background: rgba(185,219,203,1);
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 957px;
  border-radius: 50%;
}
.v160_1555 {
  width: 7px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 189px;
  left: 969px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v160_1556 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 349px;
  overflow: hidden;
}
.v160_1557 {
  width: 9px;
  height: 15px;
  background: rgba(184,120,67,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 11px;
}
.v160_1558 {
  width: 30px;
  height: 30px;
  background: url("../images/v160_1558.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v160_1559 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 572px;
  overflow: hidden;
}
.v160_1560 {
  width: 9px;
  height: 15px;
  background: rgba(184,120,67,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 11px;
}
.v160_1561 {
  width: 30px;
  height: 30px;
  background: url("../images/v160_1561.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v160_1562 {
  width: 678px;
  height: 80px;
  background: url("../images/v160_1562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 80px;
  border: 1px solid rgba(18,102,86,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v160_1563 {
  width: 112px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 548px;
  left: 101px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1564 {
  width: 108px;
  color: rgba(184,120,67,1);
  position: absolute;
  top: 548px;
  left: 627px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1565 {
  width: 132px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 548px;
  left: 223px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1566 {
  width: 678px;
  height: 80px;
  background: url("../images/v160_1566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 80px;
  border: 1px solid rgba(18,102,86,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v160_1576 {
  width: 126px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 658px;
  left: 101px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1578 {
  width: 130px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 658px;
  left: 526px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1579 {
  width: 678px;
  height: 80px;
  background: url("../images/v160_1579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 632px;
  left: 80px;
  border: 1px solid rgba(18,102,86,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v160_1567 {
  width: 220px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 882px;
  left: 151px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1568 {
  width: 678px;
  height: 80px;
  background: url("../images/v160_1568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 856px;
  left: 80px;
  border: 1px solid rgba(18,102,86,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v160_1569 {
  width: 277px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 1197px;
  left: 472px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v160_1572 {
  width: 59px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 228px;
  left: 1301px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v160_1573 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 101px;
  overflow: hidden;
}
.v160_1574 {
  width: 30px;
  height: 30px;
  background: url("../images/v160_1574.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v160_1575 {
  width: 25px;
  height: 25px;
  background: rgba(18,102,86,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v160_1581 {
  width: 178px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 982px;
  left: 151px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1582 {
  width: 678px;
  height: 80px;
  background: url("../images/v160_1582.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 956px;
  left: 80px;
  border: 1px solid rgba(18,102,86,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v160_1583 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 981px;
  left: 101px;
  overflow: hidden;
}
.v160_1584 {
  width: 30px;
  height: 30px;
  background: url("../images/v160_1584.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v160_1585 {
  width: 25px;
  height: 25px;
  background: rgba(185,219,203,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v160_1586 {
  width: 389px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 1082px;
  left: 151px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v160_1587 {
  width: 678px;
  height: 80px;
  background: url("../images/v160_1587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1056px;
  left: 80px;
  border: 1px solid rgba(18,102,86,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v160_1588 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1081px;
  left: 101px;
  overflow: hidden;
}
.v160_1589 {
  width: 30px;
  height: 30px;
  background: url("../images/v160_1589.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v160_1590 {
  width: 25px;
  height: 25px;
  background: rgba(185,219,203,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v182_4 {
  width: 372px;
  height: 70px;
  background: url("../images/v182_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 567px;
  left: 988px;
  border: 1px solid rgba(18,102,86,1);
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v182_5 {
  width: 187px;
  color: rgba(18,102,86,1);
  position: absolute;
  top: 588px;
  left: 1081px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
